/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    
    /* style.css */

}



h1 {
    text-align: center;
    color: #333;
}

section {
    margin-bottom: 20px;
    
}

h2 {
    margin: 20px 0 10px 0;
    font-size: 24px;
    background-color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    color: #f0f0f0;
    text-align: center;
    
}


.image-box img {
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

h3 {
    margin: 5px 0;
    color: #666;
}
